*{
    padding:0;
    margin: 0;
}
body{
    
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(82, 201, 209);
    
}
.container{
    background-color: aquamarine;
    padding: 1rem;
    border-radius:1rem;
    min-height: 30vh;width:41vh; 
  
}
form{
    margin: 3rem 0 2rem 0;
}
form select,button,input{
    width: 100%;
    border: none;
    height:30px;
}
form input{
    height: 2rem;
    padding-left: 0.5rem;
}
.select-container img{
    max-width: 3rem;
}

.msg{
    margin: 3rem 0 2rem 5rem;
    font-size: large;

}
form button{
    height: 3rem;
    background-color: #af4d98;
    border-radius: 5%;
    color: aliceblue;
    font-size:1.9rem ;

}
.dropdown{
display:flex;
    justify-content: space-between;
    gap: 20px;
    padding: 10px;
    margin-top: 20px;
}